@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 97.5%; /* #F8FAFC */
    --foreground: 222 28% 21%; /* #1E293B */
    --card: 0 0% 100%;
    --card-foreground: 222 28% 21%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 28% 21%;
    --primary: 221 83% 53%; /* #2563EB */
    --primary-foreground: 0 0% 98%;
    --secondary: 220 14% 96.1%; /* slate-100 */
    --secondary-foreground: 222 47% 11.2%; /* slate-900 */
    --muted: 220 14% 96.1%;
    --muted-foreground: 220 8.9% 43.1%;
    --accent: 220 14% 96.1%;
    --accent-foreground: 222 47% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%; /* slate-200 */
    --input: 220 13% 91%;
    --ring: 221 83% 53%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
